# Ignore VsCode config
.vscode
# Ignore Mac OS noise
.DS_Store
# ignore the build directory for Rust/Anchor
target
# Ignore backup files creates by cargo fmt.
**/*.rs.bk
# Ignore Anchor build files
.anchor
# Ignore node modules
node_modules
# Ignore parcel artifacts
.parcel-cache/*
app/dist
app/.cache